.root {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  gap: var(--pad);
  border-top: var(--border);
  padding: var(--pad);
}

.col {
  gap: var(--pad);
  display: flex;
  flex-direction: column;
}

.row {
  gap: var(--pad);
  display: flex;
  align-items: flex-end;
}

.but {
  min-height: 40px;
  background-color: var(--fc-0);
  color: var(--bgc-0);
  width: auto;
  border: none;
  border-radius: var(--rad);
  margin: 0;
  flex: 1;
}

.ta {
  flex: 1;
  background-color: var(--bgc-2);
}
