.root {
  display: flex;
  flex-direction: column;
  gap: var(--pad);
  border-top: var(--border);
  padding: var(--pad);
}

.col {
  gap: var(--pad);
  display: flex;
  flex-direction: column;
}

.row {
  gap: var(--pad);
  display: flex;
}
