.root {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  gap: var(--pad);
  padding-inline: calc(var(--pad) * 1);
  padding-top: calc(var(--pad) * 2);
  padding-bottom: max(env(safe-area-inset-bottom), calc(var(--pad) * 2));
}

@media only screen and (max-width: 768px) {
  .rootKeyboard {
    padding-bottom: var(--pad);
  }
}

.row {
  display: flex;
  flex-direction: row;
  gap: var(--pad);
}

.col {
  gap: var(--pad);
  display: flex;
  flex-direction: column;
}

.row {
  gap: var(--pad);
  display: flex;
  align-items: flex-end;
}

.but {
  min-height: 40px;
  background-color: var(--fc-0);
  color: var(--bgc-0);
  width: auto;
  border: none;
  border-radius: var(--rad);
  margin: 0;
  flex: 1;
}

.ta {
  flex: 1;
  background-color: var(--bgc-2);
}

.input {
  flex: 1;
}
