.topNavRoot {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-bottom: 1px solid #000;
  padding: 10px;
}

.msgsRoot {
  position: absolute;
  top: 82px;
  left: 0;
  right: 0;
  bottom: 144px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}

.msgsRootCall {
  position: absolute;
  top: 82px;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.bottomNavRoot {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-top: 1px solid #000;
  padding: 10px;
}

.text {
  height: 80px;
  width: auto;
}

.t {
  width: auto;
}

.col {
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.selfVid {
  width: 20%
}

.peerVid {
  width: 100%
}
