.topNavRoot {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: var(--pad);
  border-bottom: var(--border);
  padding: var(--pad);
}

.msgsRoot {
  position: absolute;
  top: 82px;
  left: 0;
  right: 0;
  bottom: 144px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--pad);
  padding: var(--pad);
}

.call {
  position: absolute;
  inset: 0;
  display: flex;
  gap: var(--pad);
  padding: var(--pad);
}

.bottomNavRoot {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: var(--pad);
  border-top: var(--border);
  padding: var(--pad);
}

.col {
  gap: var(--pad);
  display: flex;
  flex-direction: column;
}
