.flex {
  display: flex;
  flex-grow: 99999;
}

.msg {
  display: flex;
  flex-grow: 99999;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--pad);
  padding: var(--pad);
}

.call {
  position: absolute;
  inset: 0;
  display: flex;
  gap: var(--pad);
  padding: var(--pad);
}
