.flex {
  display: flex;
  flex-grow: 99999;
  justify-content: center;
  align-items: center;
}

.flexCol {
  display: flex;
  flex-direction: column;
  flex-grow: 99999;
  justify-content: center;
  align-items: center;
  gap: calc(var(--pad) * 2);
}

.msg {
  display: flex;
  flex-grow: 99999;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--pad);
  padding: var(--pad);
}

.call {
  position: absolute;
  inset: 58px 0 0 0;
  display: flex;
  gap: var(--pad);
  padding: var(--pad);
}

.title {
  font-size: 2rem;
  text-align: center;
}

.subTitle {
  text-align: center;
  margin-inline: var(--pad);
}

.but {
  min-height: 40px;
  background-color: var(--fc-0);
  color: var(--bgc-0);
  width: auto;
  border: none;
  border-radius: var(--rad);
  margin: 0;
  gap: var(--pad);
  display: flex;
  align-items: center;
}
