.root {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  gap: var(--pad);
  border-bottom: var(--border);
  padding-left: var(--pad);
  padding-right: var(--pad);
  height: 58px;
}

.left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: calc(var(--pad) * 2);
}

.center {
  display: flex;
  flex-grow: 999;
  align-items: center;
  justify-content: center;
  gap: calc(var(--pad) * 2);
}

.right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: calc(var(--pad) * 2);
}
